tbody[id^="compositGroup_"] img {
    width: 25px;
}

.pointer{
    cursor: pointer;
}

p.pointer:hover{
    text-decoration:underline;
}

p.uncompleted{
    color:red;
}
p.completed{
    color: green;
}

.fontsize10{
    font-size: 10px;
}

.numeratedTable{
    counter-reset: compositCounter ;
}

.numeratedTable > tbody > tr{
    counter-increment: compositCounter;
}

.numeratedTable tbody > tr:not(:last-child) th:before{
    content: counter(compositCounter);
}


div[id^='dropZone_'] {
    border: 3px dashed #ccc;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}
div[id^='dropZone_'].highlight {
    border-color: purple;
}

.cursorRenameComposit{
    cursor: context-menu;
}

.renameComposit{
    position: relative;
}

.completeRenaming{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 50px;
    height: 30px;
    width: 30px;
    background: url('/storage/checkMark.svg') no-repeat 50% 50%;
}

.latestAddedObjects a{
    text-decoration:none;
}
