tbody[id^="compositGroup_"] img {
    width: 25px;
}

.pointer{
    cursor: pointer;
}

p.pointer:hover{
    text-decoration:underline;
}

p.uncompleted{
    color:red;
}
p.completed{
    color: green;
}

.numeratedTable{
    counter-reset: compositCounter ;
}

.numeratedTable > tbody > tr{
    counter-increment: compositCounter;
}

.numeratedTable tbody > tr:not(:last-child) th:before{
    content: counter(compositCounter);
}
